.box {
    background-color: transparent;
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
    border-radius: 15px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    margin: 1% 2.5%;
}


.BoxContainer .box.enabled:hover {
    /*padding: 2%;*/
    background: var(--bg-gradient);
    color: white;
    border-radius: 30px;
    height: 220px;
    width: 220px;
    margin: 0.5% 0.5%;
    transition: all 0.5s ease-in-out;
    mix-blend-mode: difference;
    cursor : pointer;
}

.box.disabled{
    background-color: #f0f0f0;
    color: #c0c0c0;
    box-shadow: none;
    cursor: not-allowed;
}
.BoxContainer .box.disabled:hover{
    background-color: #f0f0f0;
    color: #c0c0c0;
    box-shadow: none;
    cursor: not-allowed;
}