/* src/Box.css */
.box {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  margin: 1% 2%;
}
