
.BoxContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}


h1 {
    font-size: 3rem;
    position: relative;
    background: transparent;
}

.BoxContainer .box:hover h1 {
    -webkit-text-fill-color: white;
    background: none;
}

.enabled {
    background: var(--bg-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


